# Ignore node modules
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
*.log
logs

# Ignore environment variables
.env

# Ignore editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
dist/
build/
tmp/
